################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp2/CopilotIndices/0.2.1980.20739
